# ===================================================================
# ARQUIVOS DE SEGREDOS
# ===================================================================
.env
*.env
*.env.*
!*.env.example  # garante que o .env.example seja enviado
# ===================================================================