# Copie este arquivo para um novo arquivo chamado .env e preencha com seus valores locais.

POSTGRES_USER=myuser
POSTGRES_PASSWORD=CHANGEME_IN_YOUR_REAL_ENV_FILE > essa senha pode ser qualquer coisa
POSTGRES_DB=shelfmine_db
SECRET_KEY= ADD_UMA_CHAVE_COM_64_CARACTERES > essa chave é usada para criptografar as senhas dos usuários


# Variável para a conexão do Back com o BD
DATABASE_URL=postgresql://myuser:CHANGEME_IN_YOUR_REAL_ENV_FILE@db:5432/shelfmine_db